<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="./assets/" />
        <meta charset="UTF-8" />
        <title>[TEST] Lern-Fair Bescheinigung</title>
    </head>
    <body>
        <h2>Englisches Sofort-Zertifikat</h2>


        <%= NAMESTUDENT %> hat sich seit dem <%= STARTDATE %> für bildungsbenachteiligte Kinder und Jugendliche engagiert.

        <%= NAMESTUDENT %> unterstützte <%= MATCHES_COUNT %> Schüler:innen in der 1:1 Lernunterstützung und führte <%= MATCH_APPOINTMENTS_COUNT %> Nachhilfetermine durch. Zudem agierte <%= NAMESTUDENT %> als Gruppenkurs-Leiter und unterstütze so <%= COURSE_PARTICIPANTS_COUNT %> Schüler:innen in <%= COURSE_APPOINTMENTS_COUNT %> Lektionen.

        Insgesamt unterstützte <%= NAMESTUDENT %> bildungsbenachteiligte Kinder und Jugendliche in <%= TOTAL_APPOINTMENTS_DURATION %> Stunden in dieser Zeit.
    </body>
</html>
