<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>[TEST] Corona School Bescheinigung</title>
</head>
<body>
    <h2>Englische Verifizierungsseite</h2>
    Name des Studenten: %NAMESTUDENT%<br/>
    Name des Schülers: %NAMESCHUELER%<br/>
    Heutiges Datum: %DATUMHEUTE%<br/>
    Startdatum: %SCHUELERSTART%<br/>
    Enddatum: %SCHUELERENDE%<br/>
    Fächer: %SCHUELERFAECHER%<br/>
    Text Schüler: %SCHUELERFREITEXT%<br/>
    Stunden pro Woche: %SCHUELERPROWOCHE%<br/>
    Stunden gesamt: %SCHUELERGESAMT%<br/>
    Medium: %MEDIUM%<br/>
    Screnningdatum: %SCREENINGDATUM%<br/>
</body>
</html>
